@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Oxygen&family=Passero+One&family=Peralta&display=swap');

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: #9549D0;
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
li,a{
    font-family: 'Passero One', cursive;
    font-size: 30px;
    line-height: 43px;
    margin-right: 2rem ;
    text-decoration: none;
    color: white;
    list-style: none;
}


.main_div{
    position: relative;
    margin: auto;
    background-size: cover;
}

.main_text{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 30px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2{
    font-family: 'Henny Penny', cursive;
    font-size: 3rem;
    margin-bottom: 0px;

}
p{
    font-family: 'Oxygen', sans-serif;
}

.course_div{
    padding-bottom: 2rem;
}

.course_image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 400px;
    background: #c28ebf;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 2rem;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

img[alt=spell]{
    width: 400px;
    
}

.course_text{
    color: white;
    padding-left: 2rem;
    
}
h3{
    font-family: 'Peralta', cursive;
}




.course{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.course_img{
    padding-right: 2rem;
    

}

.course_des{
    padding-top: 7rem;
    color: white;
}


.course_1{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-bottom: 2rem;
}

.instruct_details{
    display: flex;
    flex-direction: row;
}
.instruce_image{
    padding-right: 2rem;
}


.teacher_1{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

h2 , h3 ,p {color: white;}


@media only screen and (max-width: 811px) {
    html{
        font-size: 56%;
    }

    .course_image {
        width: 200px;
   
    }
    img[alt=spell] {
        width: 200px;

    }
    .spell_text_1{
        font-size: 2rem;
    }

    li,
    a { font-size: 20px; }

    .main_text{
        margin: auto;
    }

}